/* src/components/ImageModal.css */
.modal {
    position: fixed; /* Use fixed to ensure it stays in place during scrolling */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: hidden;
    z-index: 1000; /* Ensure modal is on top */
    overflow: auto;

  }
  
  .overlay {
    background: rgba(0, 0, 0, 0.8);
    z-index: 999; /* Ensure overlay is behind modal */
  }
  
  .modal-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 40px); /* Adjust based on modal padding */
  
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5); /* Slightly translucent background */
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 1001; /* Ensure close button is on top */
  }
  
  @media (max-width: 600px) {
    .modal {
      width: 95%;
      height: auto;
      padding: 10px;
    }
  
    .close-button {
      font-size: 1.5rem;
    }
  }
  